<nav class="navbar navbar-expand-lg navbar-dark mr-sm-2">
    <p class='navbar-brand logo' (click)='vratiNaPocetnu()'>POTERA</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse welcome-menu-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id='home_page' class='nav-link welcome-weight' (click)="preusmeri('home_page')">Nova igra</a>
        </li>
        <li class="nav-item">
          <a id='rang_list' class='nav-link welcome-weight' (click)="preusmeri('rang_list')">Rang lista</a>
        </li>
        <li class="nav-item">
            <a id='my_profile' class='nav-link welcome-weight' (click)="preusmeri('my_profile')">Moj profil</a>
          </li>
      </ul>
      <button class="btn btn-outline-danger " type="submit" value='Odjavi se' (click)='odjaviMe()'>Odjavi se</button>
    </div>
</nav>
<div class="container col-xxl-8 px-4 py-5 bg_picture" >
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Osvojena suma</th>
      <th scope="col">Takmičar 1</th>
      <th scope="col">Takmičar 2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let row of this.igre'>
      <td>{{row.suma}}</td>
      <td>{{row.u1}}</td>
      <td>{{row.u2}}</td>
    </tr>
  </tbody>
</table>
</div>