<nav class="navbar navbar-expand-lg navbar-dark mr-sm-2">
    <p class='navbar-brand logo' (click)='returnTo()'>POTERA</p>
</nav>
<div class='empty-row'>
    <img src='../../assets/img/landing-page-picture.png' height=400px width=280px>
</div> 
<div class='row'>
    <div class='col-sm-12'>
        <p class='welcome-title'>Dobrodošli u kviz "Potera"!</p>
    </div>
    <div class='col-sm-12'>
        <p class='welcome-text'>
            Drago nam je da želite da učestvujete u kvizu i da testirate svoje znanje.
            <br/>
            Ulogujte se kako biste pristupili igri. Nemaš nalog? Registruj se!</p>
    </div>
</div>
<div class='row reg-log-section'>
    <div class='reg-log-fill'></div>
    <div class='btn-log'>
        <input class="btn btn-primary btn-lg btn-text" type="button" value="  Uloguj se   " (click)='showLoginPage()'>
    </div>
    <div class='btn-reg'>
        <input class="btn btn-light btn-lg btn-text" type="button" value="Registruj se" (click)='showRegisterPage()'>
    </div>
    <div class='reg-log-fill'></div>
</div>
<br/>
<br/>
<br/>
<br/>
